html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #333333;
	color: white;
	font-family: sans-serif;
}

.widget {
	width:100%;
	height: 100%;
	font-size: 100%;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

h2{
	margin-top:0;
}

ul{
	list-style: none inside none;
	margin: 0;
	padding: 0;
}

/* split */
.widget.split{
	padding:0;
}

/* sentry */
.sentry ul{
	padding-left: 50px;
}
.sentry li{
	height: 50px;
}
.sentry .count{
	position: absolute;
	left: 10px;
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}
.sentry h3{
	margin:0;
}
.sentry .description{
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* travis */
.travis li{
       margin: 20px 0;
}
.travis h3{
       margin: 10px 0;
}
.travis .passed h3{
	color: lime;
}
.travis .failed h3{
	color: red;
}
.travis .started h3{
	color: yellow;
}
.travis .errored h3{
	color: orange;
}
.travis .duration{
       display: inline-block;
       width: 150px;
}
.travis .time{
}
